h3 {
  background-color: var(--yellow);
  inline-size: 9rem;
  text-align: center;
  margin: 5vi 3vi;
  border-radius: 4px;
  color: var(--textColour);
}

h4 {
  color: var(--blue);
  margin: 6vi;
  font-weight: bolder;
  letter-spacing: 0.2em;
}

h4 span {
  font-family: var(--titleFontFamily);
  letter-spacing: 0.1em;
  text-decoration: underline;
}

.teamImg img {
  border-radius: var(--mainBorderRadius);
}

main p {
  color: var(--blue);
  padding-inline: 2vi;
  border-inline-start: 1vi solid var(--textColour);
  margin-inline: 6vi;
}

table {
  color: var(--textColour);
  border-collapse: collapse;
  background-color: var(--yellow);
  text-align: center;
  margin: auto;
  border-radius: var(--mainBorderRadius);
}

td,
th {
  border: var(--border);
  padding-inline: 1vi;
}

thead tr:nth-of-type(1) {
  background-color: var(--black);
  font-size: larger;
  color: var(--blue);
  font-family: var(--titleFontFamily);
}

tr:nth-of-type(even) {
  background-color: var(--textColour);
  color: var(--yellow);
}

tr:not(:nth-of-type(1)) {
  font-size: large;
}

tfoot a {
  color: var(--textColour);
}

@media (min-width: 768px) {
  h3 {
    margin-block: 3vi;
  }

  .team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  h4 {
    margin-block: 3vi;
  }
  .teamImg img {
    block-size: 19vi;
  }
  main p {
    border-inline-start: 0.5vi solid var(--textColour);
  }
  table {
    grid-column: span 2;
    inline-size: 50%;
  }
}
