h3 {
  color: var(--blue);
  font-size: larger;
  font-family: var(--titleFontFamily);
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  background-color: var(--yellow);
  inline-size: 75%;
  margin-inline: auto;
  border: var(--border);
  border-radius: var(--mainBorderRadius);
  accent-color: var(--textColour);
  margin-block: 0.5em;
  padding: 0.5em;
}

/* Labels and Fieldsets */
.rating,
.comms {
  display: grid;
  justify-content: left;
}

.rating > label,
.comms > label {
  grid-column: 2;
}

.reason {
  display: flex;
  flex-direction: column;
}

.reason fieldset {
  display: grid;
  justify-content: left;
}

.reason fieldset label {
  grid-column: 2;
}

label {
  text-decoration: underline;
}

fieldset {
  border: var(--border);
}

label,
legend {
  color: var(--textColour);
  padding: 0.5em 1em;
}

/* Inputs, Selects and Textarea*/
.rating > input,
.comms > input {
  block-size: 1em;
  margin-block: auto;
}

textarea,
input,
option,
select {
  font-family: inherit;
  background-color: var(--black);
  color: var(--blue);
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
  accent-color: var(--blue);
}

@media (min-width: 768px) {
  h3 {
    margin-inline-start: 5vi;
    text-align: initial;
  }
  form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 0.5em;
  }
  /* Labels and Fieldsets */
  form > label {
    justify-self: start;
    grid-column: 1/2;
  }
  form fieldset {
    grid-column: span 3;
  }

  /* Inputs, Selects, and TextArea */
  form > input:not([type="submit"]),
  form select {
    grid-column: span 2;
    inline-size: fit-content;
    justify-self: start;
  }
  input[type="submit"] {
    grid-column: 2/3;
  }
}
