h3 {
  color: var(--blue);
  font-size: larger;
  font-family: var(--titleFontFamily);
  margin-inline-start: 12vi;
}

.partnered {
  background-color: var(--yellow);
  padding: 0.5em 2vi;
  margin: 3vi;
  border-radius: var(--mainBorderRadius);
}

.partnered h4 {
  color: var(--textColour);
  font-weight: bolder;
  padding-inline-start: 4vi;
}

.partnered dt {
  border-block-start: 2px solid black;
  font-family: var(--titleFontFamily);
  padding-block-start: 1em;
  margin-block-end: 1em;
}

.partnered dt a {
  color: var(--textColour);
}

.partnered dd {
  padding-inline: 2vi;
  color: var(--textColour);
  font-weight: bolder;
  margin-block-end: 1em;
  margin-inline-start: 4vi;
}

.partnered dd a {
  color: var(--textColour);
  font-weight: normal;
  font-style: oblique;
}

@media (min-width: 768px) {
  .partnered dd {
    margin-inline-start: 0.5vi;
  }
}
