h3 {
  color: var(--blue);
  font-size: larger;
  font-family: var(--titleFontFamily);
  margin-inline-start: 12vi;
}

.partnered {
  background-color: var(--yellow);
  padding: 0.5em 2vi;
  margin: 3vi;
  border-radius: var(--mainBorderRadius);
}

.partnered p{
  color: var(--textColour);
  font-weight: bolder;
  padding-inline-start: 4vi;
}

.partnered dd {
  padding-inline-start: 2vi;
  color: var(--textColour);
  font-weight: bolder;
  margin-block-end: 1em;
}

.partnered dt {
  border-block-start: 2px solid black;
  color: var(--textColour);
  font-family: var(--titleFontFamily);
  text-decoration: underline;
  padding-block-start: 1em;
}

@media (min-width: 768px) {
}
