main {
  padding-inline: 10vi;
}

h3 {
  color: var(--blue);
  font-weight: bold;
}

section {
  background-color: var(--yellow);
  border-radius: var(--mainBorderRadius);
  padding: 1em 5vi;
  margin-block-end: 5vb;
}

section > img {
  block-size: 50vi;
  inline-size: auto;
  border: var(--border);
}

.books section > img {
  background-color: black;
  margin-inline: 3.5vi;

}

.merch section > img {
    margin-inline: 3.5vi;
    block-size: 43vi;

}

h4 {
  margin-block-start: 0;
  font-family: var(--titleFontFamily);
  color: var(--textColour);
  font-weight: bold;
}

h4 + p {
  padding-inline-start: 3vi;
  border-inline-start: 5px solid var(--textColour);
}

.books h3 {
  background-color: var(--yellow);
  font-size: larger;
  font-weight: 1000;
  text-align: center;
  border-radius: var(--mainBorderRadius);
  border: 2px solid var(--textColour);
  inline-size: 65%;
  margin-inline: auto;
  margin-block-end: 3em;
  padding: 0;
}

.books h3 a {
  color: var(--textColour);
}

.books h3 a::after {
  content: ' >>';
}

@media (min-width: 768px) {
  .books,
  .merch {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3vi;
  }

  .books section:nth-of-type(1), .merch section:nth-of-type(1) {
    grid-column: 1/2;
  }

  .books section > img, .merch section > img {
    block-size: 10vi;
    inline-size: auto;
    margin-inline: 3.5vi;
  }

  section p, section h4 {
    margin-inline: -3vi;
  }
  .books h3 {
    grid-row: 2;
  }
}
