@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Source+Sans+3&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --titleFontFamily: Aldrich, sans-serif;
  --fontFamily: "Source Sans 3", sans-serif;
  --yellow: #ffec11;
  --blue: #1be7ff;
  --textColour: #ba2d0b;
  --grey: #757575;
  --border: 1px solid black;
  --mainBorderRadius: 10px;
}

body {
  font-family: var(--fontFamily);
  background-color: black;
  margin: 0;
}

/* Above the Fold */
header {
  display: flex;
  flex-flow: row;
}

header img {
  position: relative;
  inset-inline-start: 1px;
  inset-block-start: 1px;
  inline-size: 7em;
  block-size: auto;
}

h1 {
  font-family: var(--titleFontFamily);
  font-weight: bolder;
  font-size: 1.5em;
}

h2 {
  font-size: 1.1em;
}

h1,
h2 {
  color: var(--blue);
  margin: 0;
  padding-inline-start: 1.5vi;
}

#topBar > p {
  position: relative;
  color: white;
  text-align: center;
}

#topBar nav {
  font-family: var(--titleFontFamily);
  background-color: var(--yellow);
  border: var(--border);
  border-radius: 4px;
  inline-size: 100%;
  text-align: center;
  font-weight: bold;
}

nav ul {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding: 0;
}

nav li {
  list-style-type: none;
}

.notMobile {
  display: none;
}

#topBar nav a {
  text-decoration: none;
  color: var(--textColour);
}

/* Main */
main div.firstParagraph p {
  color: var(--blue);
  margin: 1em;
  text-align: justify;
}
main div.firstParagraph a {
  font-weight: bold;
  font-style: oblique;
  color: var(--blue);
}

.favArticles section {
  background-color: var(--yellow);
  border: var(--border);
  border-radius: var(--mainBorderRadius);
  margin-inline: 3vi;
  margin-block: 5vi;
  padding: 3vi;
  text-align: center;
}

.favArticles section:nth-of-type(1) img {
  inline-size: auto;
  block-size: 40vi;
}

.favArticles section:nth-of-type(2) img {
  inline-size: auto;
  block-size: 40vi;
}

.favArticles section:nth-of-type(3) img {
  inline-size: auto;
  block-size: 40vi;
}

.favArticles img {
  border: 0.5vi solid black;
}

.favArticles section h3, .favArticles section h3 + a {
  padding: 0;
  margin: 0;
}

.favArticles section h3 a {
  color: black;
  font-weight: bold;
}

.favArticles section > a {
  color: var(--textColour);
  font-family: var(--titleFontFamily);
  font-size: 0.8em;
}

/* The Footer */
footer {
  background-color: var(--grey);
  color: black;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: black;
}

footer > p {
  padding-inline: 4vi;
}

/* 768px and Above */
@media (min-width: 768px) {
  /* Above the Fold */
  header div {
    padding: 0;
    margin: 0;
  }

  #topBar > p {
    position: absolute;
    inset-inline-end: 1vi;
    inset-block-start: 2em;
  }

  #topBar nav {
    position: absolute;
    inset-inline-end: 0;
    inset-block-start: 0;
    inline-size: calc(50vi - 17px);
  }

  #topBar ul li {
    font-size: 0.85em;
  }

  .notMobile {
    display: contents;
  }

  /* Main */
  .favArticles {
    margin-block-end: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .favArticles section {
    text-align: initial;
    /* margin-inline: 3vi; */
    /* margin-block: 5vi; */
    padding: 3vi;
  }  

  .favArticles section:nth-of-type(1) img {
    block-size: 15vi;
    margin-inline-start: auto;
    margin-inline: 3.8vi;
  }

  .favArticles section:nth-of-type(2) img {
    block-size: 15vi;
    margin-inline-start: auto;
    margin-inline: 2vi;
  }

  .favArticles section:nth-of-type(3) img {
    block-size: 15vi;
    margin-inline-start: auto;
    margin-inline: 0;
  }

  /* Footer */
  footer {
    position: relative;
  }

  footer nav {
    position: relative;
    inset-inline-start: 25vi;
    inline-size: 50vi;
    inset-block-start: 0;
  }

  footer nav ul {
    margin: 0;
  }

  address {
    position: relative;
    inset-inline-start: 60vi;
    inline-size: 25vi;
    text-align: right;
    font-size: small;
  }
}
